footer {
    color: $light-gray;
    background: #30383B;
    font-size: 10px;
    text-transform: uppercase;
    padding: 15px 0 5px;
    margin: 0;
    text-align: center;
    border-top: 40px solid #384245;

    span {
        color: white;
    }
}