

.fullscreen-loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;

    body.is-loading &{
        opacity: 1;
        pointer-events: all;

        img {
            transform: scaleX(1) scaleY(1);
        }
    }

    &-spinner {
        margin: auto auto;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 260px;
        text-align: center;

        img {
            margin-bottom: 20px;
            transition: all 300ms ease-in-out;
            transform: scaleX(1.5) scaleY(1.5);
        }
    

        & div {
            width: 18px;
            height: 18px;
            background-color: #FFE81F;

            border-radius: 100%;
            display: inline-block;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        div &-bounce1 {
            animation-delay: -0.32s;
        }

        div &-bounce2 {
            animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0) }
            40% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bouncedelay {
            0%, 80%, 100% { 
                -webkit-transform: scale(0);
                transform: scale(0);
            } 40% { 
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
    }
}