.header {
    background: $header-background;
    color: $light-gray;

    &-hero {
        background: url(images/vader.png) 15% bottom no-repeat;
        text-align: center;

        @media screen and (min-width: $tablet) {
            max-width: 325px;
            background-position: right bottom;
        }   

        &-banner {
            position: relative;

            @media screen and (min-width: $tablet) {
                background: url(images/light-side.png) right bottom no-repeat;
            }   
        }

        h1 {
            text-align: center;
            display: inline-block;
            margin: 21px 0;

            a {
                text-indent: -9999px;
                overflow: hidden;
                display: block;
                background: url(images/force-store-logo.png) center center no-repeat;
                height: 29px;
                width: 266px;
            }

            small {
                font-style: italic;
                font-size: 15px;
                display: block;
                padding-top:5px;

                span {
                    color: white;
                }
            }
        }
    }

    &-top-bar {
        background: $shade-gray;

        p {
            text-align: center;
            font-size: 11px;
            padding:4px;
            margin: 0;
            text-transform: uppercase;

            span {
                color: white; 
            }
        }
    }

    nav {
        background: #30383B;
        padding: 3px 0 3px;

        .main-menu {
            display: none;
            width: 100%;
            margin-bottom: 3px;

            @media screen and (min-width: $tablet) {
                display: table;
            }     

            > li {
                border-right: 1px solid #515151;
                padding: 0 5px;

                &:first-of-type {
                    border-left: 1px solid #515151;
                }
            }

            li {
                display: table-cell;

                &.active a {
                    color: white;
                }

                a {
                    color:  #919191;
                    text-align: center;
                    display: block;
                    font-size: 70%;
                    padding: 8px;
                    text-transform: uppercase;

                    &:hover {
                        color: white;
                    }

                    &.cart {
                        transition: all 300ms ease-in-out;

                        &:before {
                            content: "\f07a";
                            padding-right: 10px;
                            font-family: "FontAwesome";
                        }

                        &.highlight {
                            color: white; 
                            transform: scale(1.5);
                        }
                    }
                }

                &.main-menu-tree {
                    position: relative;

                    > a:after {
                        content: "\f0d7";
                        padding-left: 10px;
                        font-family: "FontAwesome";
                    }

                }

            
                &:hover ul, &.main-menu-tree:hover ul {
                    display: block;
                }

                .search-box-container {
                    position: relative;

                    input {
                        width: 100%;
                        font-size: 90%;
                        margin: 2px 0 0;
                    }

                    &:after {
                        font-family: FontAwesome; 
                        content: "\f002";
                        position: absolute;
                        right: 10px;
                        top: 5px;;
                    }
                }
                
                ul {
                    display: none;
                    position: absolute;
                    left: 0;
                    background: $dark-gray;
                    width:100%;      

                    li {
                        display: block;

                        a {
                            padding: 6px 12px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
} 