.mini-product {
    text-align: center;
    display: block;
    color: #717171;

    &-title {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0 0 0;
        margin: 0;
    }

    &-image {
        overflow: hidden;
        img {
            min-height: 150px;
            max-height: 150px;
        }
    }

    &-price {
        font-size: 14px;

        &:before {
            content: '';
            display: inline-block;
            background:  url(../../images/cr_RP.svg) center center no-repeat;
            background-size: contain;
            width: 15px;
            height: 15px;
            margin-top: -5px;
            vertical-align: middle;
            opacity: 0.5;
        } 
    }
}