.placeholder {
    position: relative;

    &:before, &:after {
        position: absolute;
        content: ' ';
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: all 300ms ease-in-out;
    }

    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5)
    }

    &:after {
        top: 50%;
        left: 50%;
        font-size: 120%;
        transform: translate(50%,50%);
        content: "\f110";
        font-family: FontAwesome;
        animation: fa-spin 1s infinite steps(8);
    }

    &.is-loading {
        &:before {
            opacity: 1;
        }

        &:after {
            opacity: 1;
        }
    }
}