.product-details {
    &-overlay {
        background: rgba(0,0,0,0);
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 20;
        pointer-events: none;
        transition: all 600ms ease-in-out;
    } 

    &-content {
        position: absolute;
        top: -300vh;
        left: 50%;
        transform: translate(-50%, 0);
        background: white; 
        width: 90vw;
        max-width: 800px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        transition:top 350ms $ease-in-out-back;
        
        @media screen and (max-width: $tablet) {
            height: 95vh;
            overflow-y: scroll;
        }
    }

    
    &.is-active {
        .product-details-overlay {
            background: rgba(0,0,0,0.9);
            pointer-events: all;
        }
        .product-details-content {
            top: 1vh;

            
            @media screen and (min-width: $tablet) {
                top: 15vh;
            }   
        }
    }

    &-layout {
        width: 100%;
        margin: 40px 0;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-flow: row nowrap;
        }   
    }

    &-gallery {
        text-align: center;
        box-sizing: border-box;

                
        @media screen and (min-width: $tablet) {
            display: table-cell;
            width: 40%;
            padding-right: 20px;

        }   


        &.is-expanded {
            width: 100%;
        }

        .is-video {
            display: inline-block;
            position: relative;

            .fa-play {
                font-size: 70%;
                color: white;
                opacity: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                pointer-events: none;
                transform: translate(-50%,-50%);
            }
        }

        .mini-product-image {
            border: 4px solid transparent;
            cursor: pointer;
            transition: border-color 300ms ease-in-out;

            &.thumbnail {
                max-width: 50px;
            }

            &.mini-product-image {
                margin: 0 auto;
            }

            &.is-active, &.is-active:hover {
                border-color: $action-color;
            }

            &:hover {
                border-color: lighten($base-font-color, 60%);
            }
        }
    }

    &-specs {
        display: table-cell;
        width: 60%;

        p {
            width: 50%;
            float: left;
            margin: 0;
            font-size: 14px;

            .label {
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
        }

        h2 {
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;

            &:before {
                content: ' ';
                display: block;
                clear: both;
                margin-bottom: 20px;
            }
        }

        &-list {
            font-size: 12px;
            max-height: 800px;
            transition: max-height 400ms ease-in-out;

            &.is-collapsed {
                max-height: 105px;
                overflow: hidden;

                & + .product-details-specs-list-button {
                    .collapsed {
                        display: block;
                    }

                    .expanded {
                        display: none;
                    }
                }
            }

            &-button {
                font-size: 12px;

                & span:before {
                    font-family: FontAwesome;
                    margin-right: 5px;
                }

                .collapsed {
                    display: none;
                    &:before {
                        content: "\f067";
                    }
                }

                .expanded {
                    &:before {
                        content: "\f068";
                    }
                }
            }

            li {
                line-height: 1.8;
            }
            .label {
                text-transform: uppercase;

                &:before {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: yellow;
                    border:2px solid black;
                    margin-right: 10px;
                    border-radius: 100%;
                }
            }
            
        }

        &-cta {
            text-align: center;

            button {
                margin-top: -10px;
                margin-left: 10px;
                margin-right: 30px;
                background: yellow;
                color: $base-font-color;
                border-radius: 5px;
                letter-spacing: -1px;
                border: 2px solid $base-font-color;
                transition: transform 250ms $ease-in-out-back;

                &:hover {
                    transform: scale(1.3, 1.3) rotate(-3deg);
                }
            }

            .price {
                color: black;
                font-size: 30px;
                font-weight: bold;
                letter-spacing: -2px;

                &:before {
                    content: '';
                    display: inline-block;
                    background:  url(../../images/cr_RP.svg) center center no-repeat;
                    background-size: contain;
                    width: 20px;
                    height: 30px;
                    margin-top: -10px;
                    vertical-align: middle;
                } 
            }
        }
    }

    h1 {
        border-bottom: 1px solid $light-gray;
        padding: 10px;
        font-weight: bold;

        .close {
            float: right;
            color: $base-font-color;

            &:after {
                content: "\f00d";
                font-family: FontAwesome;
            }
        }
    }

    &-footer {
        clear: both;
        padding: 4px 20px;
        background: #D2D2D2;
        border-radius:0 0 10px 10px;
        margin-bottom: 10px;

        @media screen and (max-width: $tablet) {
            height: 75px;
        }

        p {
            margin: 0;
            padding: 4px 10px 6px 0;
            display: inline-block;
            font-size: 13px;
            color: #585858;
            text-transform: uppercase;
        }

        .social-icons {
            display: inline-block;

            li {
                float: left;
                margin: 0px 0 -10px;
                font-size: 20px;
                margin-right: 8px;

                a {
                    color: #717171;

                    i {
                        transition:all 200ms ease-in-out;
                    }

                    &:hover i {
                        transform: scale(1.5,1.5);
                    }

                    &.social-icons-fb:hover {
                        color: #3B5998;
                    }

                    &.social-icons-pn:hover {
                        color: #BD081C;
                    }

                    &.social-icons-tw:hover {
                        color: #1DA1F2;
                    }

                    &.social-icons-g:hover {
                        color: #DB4437;
                    }
                }

                &.share-url {
                    font-size: 12px;
                    position: relative;

                    &:before {
                        color: #717171;
                        content: "\f0c1";
                        font-size: 13px;
                        position: absolute;
                        font-family: FontAwesome;
                        top: 6px;
                        left: 8px;
                    }

                    input{
                        color: #717171;
                        margin: 1px 0 0 0;
                        padding-left: 25px;
                        max-width: 100px;
                        transition:max-width 300ms ease-in-out;

                        @media screen and (max-width: $tablet) {
                            width: 90px;
                        }

                        &:focus {
                            max-width: 500px;
                        }
                    }
                }
            }
        }
    }
}