.product-grid {
    margin: 40px auto;

    ul {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        li {
            margin: 2.5%;
            width: 45%;
            
            @media screen and (min-width: $tablet) {
                margin: 1.5%;
                width: 30%;
            }

            @media screen and (min-width: $desktop) {
                margin: 2.5%;
                width: 20%;
            }

        }
    }
}