<div>
    {{#if activeItem.isVideo}}
        <iframe class="mini-product-image large" src="{{activeItem.source}}" frameborder="0" allowfullscreen></iframe>
    {{else}}
        <img class="mini-product-image large" data-gallery-expand src="{{activeItem.source}}" />
    {{/if}}
    
    <p>
        {{#each allItems}}
         {{#if isVideo}}
         <span class="is-video">
         {{/if}}
            <img 
                data-gallery-switch="{{id}}" 
                class="mini-product-image thumbnail {{#if isActive}}is-active{{/if}}" 
                src="{{#if isVideo}}{{thumbnail}}{{else}}{{source}}{{/if}}" />

        {{#if isVideo}}
            <i class="fa fa-play"></i>
        </span>
        {{/if}}
        {{/each}}
    </p>
</div>