<ul class="main-menu container">
    <li class="active"><a href="javascript:void(0)">Home</a></li>
    <li class="main-menu-tree">
        <a href="javascript:void(0)">Shop by Manufacturer</a>
        <ul>
            {{#each manufacturer}}
            <li><a href="javascript:void(0)">{{this}}</a></li>
            {{/each}}
        </ul>
    </li>                    
    <li class="main-menu-tree">
        <a href="javascript:void(0)">Shop by Class</a>
        <ul>
            {{#each class}}
            <li><a href="javascript:void(0)">{{this}}</a></li>
            {{/each}}
        </ul>
    </li>
    <li><a data-cart class="cart" href="javascript:void(0)">
        {{#if cartItems}}
        {{cartItems}}
        {{else}}
        No
        {{/if}} Ship(s) on Cart</a></li>
</ul>
