<div class="product-details-overlay" data-close>
    <div class="product-details-content">
        <h1>{{name}} <a href="javascript:void(0)" data-close title="Go Back" class="close"></a></h1>
        <div class="product-details-layout">
            <div class="product-details-gallery" data-gallery="{{name}} star wars"></div>
            <div class="product-details-specs">
                <p>
                    <span class="label">Manufacturer</span>
                    {{manufacturer}}
                </p>
                <p>
                    <span class="label">Class</span>
                    {{class}}
                </p>
                <h2>Technical Specifications</h2>
                <ul data-specs-collapser class="product-details-specs-list is-collapsed">
                    {{#each techspecs}}
                    <li>
                        <span class="label">
                            {{@key}}:
                        </span>
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
                <a href="javascript:void(0)" data-collapse-specs class="product-details-specs-list-button">
                    <span class="collapsed">View all specs</span>
                    <span class="expanded">View less specs</span>
                </a>

                <hr>

                <div class="product-details-specs-cta">
                    <span class="price">
                        {{price}}
                    </span>
                    {{#if noPrice}}
                        <button disabled class="sold">Sold out!</button>
                    {{else}}
                        <button data-add-to-cart="{{id}}" data-close>Buy Now</button>
                    {{/if}}
                </div>
            </div>


        </div>

        <div class="product-details-footer">
            <p>Share</p>
            <ul class="social-icons">
                <li>
                    <a class="social-icons-fb" href="javascript:void(0)">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icons-pn" href="javascript:void(0)">
                        <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icons-tw" href="javascript:void(0)">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icons-g" href="javascript:void(0)">
                        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="share-url">
                    <input onclick="this.select()" readonly type="text" value="{{permalink}}">
                </li>
            </ul>
        </div>
    </div>
</div>