<ul>
    {{#each this}}
        <li>
            <a href="#product/{{id}}" class="mini-product">
                <div class="mini-product-image placeholder is-loading" data-placeholder="{{name}} star wars">
                    {{!--
                        I felt tempted about using this GIF for the loading state:
                            http://rs191.pbsrc.com/albums/z83/kanionite/Misc%20Gif/chewie_breakdance.gif~c200

                        But well, I decided to save the extra bytes.
                    --}}
                    <img src="//placeholdit.imgix.net/~text?txtsize=33&txt=&w=221&h=221" alt="">
                </div>
                <h3 class="mini-product-title">{{name}}</h3>
                <p class="mini-product-price">{{price}}</p>
            </a>
        </li>
    {{/each}}
</ul>